<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file  -->
		<target name="allfile" xsi:type="File"
		        fileName="c:\ReferenceOfPersonLogs\nlog-all-${shortdate}.log"/>

		<target name="database" 
		        type="Database" >
		<connectionString>
			Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=ReferenceOfPerson;Integrated Security=true;
		</connectionString>
			<commandText>
				INSERT INTO [dbo].[Logs] ([CallSite], [Date], [Level], [Logger],  [Message]) VALUES (@CallSite, @Date, @Level, @Logger,  @Message);
			</commandText>
			<parameter name="@CallSite" layout="${callsite:filename=true}" />
			<parameter name="@Date" layout="${longdate}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Message" layout="${message}" />

		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Error" writeTo="allfile" />
		<logger name="ReferenceOfPerson.Controllers.ErrorController" minlevel="Error" writeTo="database"/>
	</rules>
</nlog>